* {
    background-color: #0F172A;
    color: #E2E8F0;
  }

.grid-parent {
    display: grid;
    grid-template-columns: 52fr 48fr;
    padding: 46px 150px; 
    margin-right: 50px;
}

.Name_Banner {
    display: grid;
    grid-column: 1;
    grid-template-columns: 40fr 60fr;
    position: fixed;
    padding-top: 50px;
}

.About {
    display: grid;
    grid-column: 2;
    padding-top: 48px;
}



.profile img {
    border-radius: 100px;
    /* text-align: center; */
    align-content: center;
    width: 130px;
    height: 130px;
    /* display: block; */
    margin: auto auto 10px 60px;
}

