* {
    background-color: #0F172A;
    color: #E2E8F0;
  }

.grid-parent {
    display: grid;
    grid-template-columns: 52fr 48fr;
    padding: 46px 150px; 
    margin-right: 50px;
}

.Name_Banner {
    display: grid;
    grid-column: 1;
    grid-template-columns: 40fr 60fr;
    position: fixed;
    padding-top: 50px;
}

.About {
    display: grid;
    grid-column: 2;
    padding-top: 48px;
}



.picture img {
    border-radius: 100px;
    /* text-align: center; */
    align-content: center;
    width: 130px;
    height: 130px;
    /* display: block; */
    margin: auto auto 10px 60px;
}

.name_card img{
    border-radius: 100px;
    width: 28px;
    height: 28px;
    padding: 15px;
    align-content: center;
}

.Name_Banner h1,
h2 {
  margin: 0px;
}

.Name_Banner h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.Name_Banner h2 {
    font-size: 20px;
    font-weight: 570;
}

.Name_Banner p {
  color: #97a7be;
  padding: 5px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
}


.About .about_para {
    color: #94A3B8;
    margin-bottom: 16px;
    padding: 5px;
    line-height: 1.7;
    font-size: 16px;
    justify-items: center;
  }
  
.About .Experience {
    margin: 90px 2px 16px 2px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 18px;
}

.experience_card {
    display: grid;
    grid-template-columns: 2fr 4fr;
    color: rgb(201, 209, 237);
    letter-spacing: 0.1px;
    border-radius: 20px;
}

.experience_card .period {
    margin: 15px;
    color: #616f93;
    font-size: 12px;
    font-weight: 500;
    font-size: medium;
}

.experience_card p {
    color: #616f93;
    font-size: small;
}

.experience_card span {
    color: #E2E8F0;
    font-weight: 550;
    font-size: medium;
    padding-bottom: 15px;
}
